<div class="home-body">
    <section class="home-section">
        <!-- <img src="../../../assets/images/bg.jpg" alt="bg" id="bg"> -->
        <div class="night"></div>
        <div class="constellation"></div>
        <img src="../../../assets/images/moon.png" alt="moon" id="moon">
        <img src="../../../assets/images/mountain.png" alt="mountain" id="mountain">
        <img src="../../../assets/images/road.png" alt="road" id="road">
        <h2 id="text">
            <span>W</span>
            <span>e</span>
            <span>l</span>
            <span>c</span>
            <span>o</span>
            <span>m</span>
            <span>e</span>
        </h2>

    </section>
    <div class="night2"></div>
    <div class="constellation2"></div>
    <div class="overlay-content">        
        <section class="hidden-home">
            <h1>About Me</h1>
            <p>
                Hello There! My name is Amanda and I enjoy learning how things on the web work under the hood, and how to build them myself. I was introduced to software development at my previous job in the mechanical engineering/construction industry, and was pleasantly surprised at how a few lines of well built code can automate tasks that would have previously taken me hours. 
            </p>
            <p>Afterward, I made the decision to return to school to pursue a comprehensive education in full-stack software development. My goal was to acquire a deep understanding of both front-end and back-end technologies, enabling me to independently develop a wide range of applications.</p>
            <p>
                Outside of software development, I am passionate about being active and in particular, enjoying the outdoors and beautiful mountains. You can catch me outdoors hiking, backpacking, star gazing, running, rock climbing, or road biking to destress and enjoy my free time.</p>
        </section>

        <section class="hidden-home">
            <h1>Technology</h1>
            <div class="technology-container">
                <div class="row">
                    <div class="tech">
                        <div class="tech-hidden">HTML</div>
                        <div class="tech-hidden">CSS/SCSS</div>
                        <div class="tech-hidden">Javascript</div>
                        <div class="tech-hidden">Typescript</div>
                        <div class="tech-hidden">C#</div>
                        <div class="tech-hidden">Python</div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="tech">
                        <div class="tech-hidden">Express</div>
                        <div class="tech-hidden">MongoDb</div>
                        <div class="tech-hidden">Git/Github</div>
                        <div class="tech-hidden">Figma</div>
                        <div class="tech-hidden">React</div>
                        <div class="tech-hidden">NodeJS</div>
                    </div>
                </div>
                <div class="row">
                    <div class="tech">
                        <div class="tech-hidden">Angular</div>
                        <div class="tech-hidden">C</div>
                        <div class="tech-hidden">SQL</div>
                        <div class="tech-hidden">MVC</div>
                        <div class="tech-hidden">Android Studio</div>
                        <div class="tech-hidden">AWS</div>
                    </div>
                </div>
            </div>
        </section>
        </div>