header {
  margin: 0 1rem;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0 1rem;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        cursor: pointer;
        &.active {
          color: #4aa;
        }
      }
    }
  }
}

main {
  // display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 460px;
  width: 100%;
}
footer {
  font-size: 0.8rem;
  padding-right: 1rem;
  align-self: flex-end;
  width: 100%;
  background: rgba(0, 0, 0, 1); 
  text-align: center;
  z-index: 2;
}
.page-links{
  display: flex;
  flex-direction: row;
  gap: 3%;
  justify-content: center;
}
