.project-container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
}

.back-video {
  position: fixed; /* Use fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the entire width of the viewport */
  height: 100%; /* Set height to cover the entire height of the viewport */
  object-fit: cover; /* Ensure the video covers the entire space while maintaining aspect ratio */
  z-index: -1; /* Ensure the video is behind other content */
}
@media (min-aspect-ratio: 16/9) {
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video{
    width: auto;
    height: 100%;
  }
}
#projects {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin-top: 2.5rem;
}


article {
  width: calc(50% - 20px); /* Adjust the width of each project card */
  margin: 10px; /* Add margin between project cards */
}

/* Styles for the rest of your layout */
main {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 460px;
  width: 100%;
  
}

#side-nav {
  margin-top: 1.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 7rem;
  color: rgb(180, 180, 180);
  div {
    cursor: pointer;
  }
}

.project-selectors {
  color: rgb(180, 180, 180);
}

.project-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

article {
  width: 80%;
  // min-height: 10rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  // backdrop-filter: blur(5px);
}

footer {
  font-size: 0.8rem;
  padding-right: 1rem;
  align-self: center-end;
}

a,
a:visited {
  color: rgb(180, 180, 180);
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
