.project-container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
}

.nav-container {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
}

.nav-container #side-nav {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}


#side-nav {
  z-index: 2;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  height: fit-content;
  position: fixed;
  top: 3rem;
  left: 0;
}

.openbtn:hover {
  background-color: #444;
}

.category-container div:hover,
.tag-container div:hover,
.current-filter:hover {
  color: #f1f1f1; /* Change color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.back-video {
  position: fixed; /* Use fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the entire width of the viewport */
  height: 100%; /* Set height to cover the entire height of the viewport */
  object-fit: cover; /* Ensure the video covers the entire space while maintaining aspect ratio */
  z-index: -1; /* Ensure the video is behind other content */
}
@media (min-aspect-ratio: 16/9) {
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video{
    width: auto;
    height: 100%;
  }
}
#projects {
  width: 80%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 3.5rem;
  flex-wrap: wrap;
}

/* Styles for the rest of your layout */
main {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 460px;
  width: 100%;
  
}

.project-selectors {
  color: rgb(180, 180, 180);
}

.project-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

article {
  width: 400px;
  margin: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  // backdrop-filter: blur(5px);
}

footer {
  font-size: 0.8rem;
  padding-right: 1rem;
  align-self: center-end;
}

a,
a:visited {
  color: rgb(180, 180, 180);
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px){
  article {
    width: 100%;
    margin: 10px 0;
  }
}