<div class="project-container">
  <video autoplay loop muted plays-inline class="back-video">
    <source src="../../../assets/videos/StarsBackground.mp4" type="video/mp4">
  </video>
  <div class="nav-container">
    <section id="side-nav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&#10006;</a>
      <div class="filter-container" *ngIf="filterString; else noFilter">
        <h3>Filtered By:</h3>
        <div class="current-filter">
          {{ filterString }}
          <i class="fa fa-trash-o" (click)="clearFilters()"  routerLink="/projects"></i>
        </div>
      </div>
      
<ng-template #noFilter>
  <div class="filter-container">
    <h3>Filter By:</h3>
  </div>
</ng-template>
        <h4>Categories</h4>
        <div class="category-container">
          <div *ngFor="let category of categories" [routerLink]="['/projects/categories', category.slug]">
            {{ category.name }}
          </div>
        </div>
        
        <h4>Tags</h4>
        <div class="tag-container">
          <div *ngFor="let tag of tags" [routerLink]="['/projects/tags', tag.slug]">
            {{ tag.name }}
          </div>
        </div>
        
      
    </section>
  </div>
  <button class="openbtn" (click)="openNav()"><i class="fa fa-filter"></i></button>

  <section id="projects">
    <article
    class="vanillaTilt" ngTilt [maxTilt]="5"
      *ngFor="let project of projects | projectFilter : tagFilter"
      (click)="setSelectedProject(project)"
    >
      <a ngTiltParallax [distance]="40" href="/projects/{{ project?.id }}">
        <section class="project-card">
          <img
            *ngIf="project.image"
            [src]="'assets/images/' + project.image"
            alt="Image of {{ project.title }}"
          />
          <div>
            <h2>{{ project.title | uppercase }}</h2>
            <div>{{ project.excerpt }}</div>
          </div>
        </section>
      </a>
      <footer ngTiltParallax [distance]="30" class="project-selectors">
        <div *ngIf="project.category">
          Category:
          <a [href]="'/projects/categories/' + project.category.slug">{{
            project.category.name
          }}</a>
        </div>
        <div *ngIf="project.tags?.length">
          Tags:
          <span *ngFor="let tag of project.tags" (click)="setTagFilter(tag)">
            {{ tag.name }}
          </span>
        </div>
      </footer>
    </article>
  </section>
  
  
</div>
